@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}
.text-2xl{
  font-size: 1.5rem;
  line-height: 1.6rem;
}

.text-name{
  font-size: 12px;
  line-height: 10px;
}

.text-prodi{
  font-size: 10px;
  line-height: 10px;
}

.bg-hero{
  background-color: #134675;
  

}

.font-p{
  line-height: 2rem;
}

.font-p2{
  line-height: 1.2rem;
}

.pt-100{
  padding-top: 1000px;
}

.h-96{
  height: 24rem;
}
.h-100{
  height: 30rem;
}

#floatingButton {
  transition: opacity 0.3s, transform 0.3s;
}

#floatingButton.show {
  opacity: 1;
  transform: translateY(0);
}

#floatingButton.hide {
  opacity: 0;
  transform: translateY(100%);
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
